.children {
    margin:10px;
}
.navbar {
    border-bottom:1px solid #d3d3d3;
    width:100%;
    height:50px;
    padding-top:14px;
    padding-left:20px;
}

a.link {
    color:black;
    text-decoration:none;
    margin-right: 50px;
    opacity:.4;
}

a.link.active {
    opacity:1;
}

a > i {
    opacity:1;
}

.card {
    width: 350px;
    display: inline-block;
    margin: 20px;
}

@media screen and (min-width:768px) {
    .children {
    margin:50px;
}
}

@media screen and (min-width:1000px) {
    .children {
    margin:100px;
}
}